<% if current_user %>
<div class="container">
  <h3><i><%= @user.username %></i>, Welcome to profile editor!</h3>


  <p>You are in user info!</p>

  <table>
    <tr>
      <th>Username: </th>
      <th>Last name: </th>
      <th>Email: </th>
    </tr>

    <td><%= @user.username %></td>
    <td><%= @user.email %></td>
  </table>

  <br>
  <table>
    <tr>
      <th>Name: </th>
      <th>Call sign: </th>
      <th>Price / month: </th>
    </tr>

    <% if @user.channels %>
      <% @user.channels.each do |channel| %>
      <tr>
        <td><a href="<%= "/channels/#{channel.id}" %>"><%=channel.name %></a></td>
        <td><%=channel.callsign %></td>
        <td>$ <%=channel.price_per_month %></td>
      </tr>
      <% end %>
    <% end %>
  </table>

</div>

<div class="container">
  <a href='/users/<%= @user.id %>/edit'>Edit you profile</a>
</div>
<% end %>
